/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* LAYOUT */

.container {
    width: 835px;
    margin: 100px auto 10px auto;
    overflow: auto;
}

.sidebar {
    width: 225px;
    float: left;
    margin-right: 100px;
    text-align: left;
}

header {
    margin-bottom: 20px;
}

header img {
    width: 100%;
    border-radius: 100%;
}

aside {
    width: 100%;
}

aside h3 {
    color: #272727;
    margin-top: 10px;
}

aside ul {
    list-style-type: none;
    margin: 5px 0px 0px 15px;
}

aside ul li {
    margin-bottom: -5px;
}

aside ul li a {
    font-weight: 700;
    color: #ffe000 !important;
    text-decoration: underline;
    text-decoration-color: #fff;
}

aside ul li a:hover {
    text-decoration-color: #000 !important;
    -webkit-transition: ease 0.8s; /* Safari */
    transition: ease 0.8s;
}

aside a {
    display: block;
    height: 30px;
    box-sizing: border-box;
    color: #272727;
    text-decoration: underline;
    text-decoration-color: #fff;
}

aside a:hover {
    color: #272727;
    text-decoration-color: #ffe000;
    -webkit-transition: ease 0.8s; /* Safari */
    transition: ease 0.8s;
}

section {
    width: 510px;
    float: left;
}

article {
    width: 100%;
    border: solid 5px #eaeaea;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.posttitle {
    text-align: left;
    margin-bottom: 5px;
}

.postbody a {
		color: #a3a3a3;
}

.postbody a:hover {
		color: #000;
}

.figure {
    padding: 10px;
		box-sizing: border-box;
}

figcaption {
		font-style: italic;
		font-size: 10px;
		margin-top: 5px;
}

img {
    box-sizing: border-box;
		width: 100%;
}

#about img {
    width: 31%;
}

.caption {
    margin-top: 0px;
}

p {
    margin: 7px 0px;
}

ul {
    list-style: circle;
    margin: 5px 0px 10px 35px;
    text-indent: 10px;
    line-height: 16pt;
}

hr {
    border-top: 0.5px solid #ffe000;
}

.resources {
		border-top: 2px solid #eaeaea;
		padding-top: 5px;
    margin: 20px 0px;
    font-size: 8pt;
    text-align: left;
		color: #a3a3a3;
}

.citation {
    text-indent: -15px;
    padding-left: 15px !important;
		padding-bottom: 3px;
}

.citation a {
		color: #a3a3a3;
}

.citation a:hover {
		color: #272727;
}

.col {
    padding-bottom: 15px;
    margin: auto;
}

.col3 {
    width: 33%;
    float: left;
}

.left {
    width: 50%;
    float: left;
    text-align: left;
}

.right {
    width: 50%;
    float: right;
    clear: right;
    text-align: right;
}

.center {
    text-align: center;
}

footer {
    float: right;
    clear: left;
    width: 510px;
    text-align: center;
    font-size: 9pt;
		margin-bottom: 20px;
}

/* TEXT */


body {
    font-family: 'Helvetica', sans-serif;
    font-size: 10pt;
    font-weight: 200;
    color: #272727;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 26pt;
    color: #ffe000;
}

h2 {
    font-size: 18pt;
    color: #000;
    text-decoration: underline;
    text-decoration-color: #ffe000;
}

h3 {
    font-size: 14pt;
    text-transform: capitalize;
    color: #272727;
}

time {
    line-height: 16pt;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #ffe000;
}

a:hover {
    color: #f4c500;
    -webkit-transition: ease 0.8s; /* Safari */
    transition: ease 0.8s;
}

em {
    font-style: italic;
}

u {
		text-decoration: underline;
}

blockquote {
    font-style: italic;
    color: #272727;
    margin: 10px 0px 10px 20px;
    padding-left: 5px;
    border-left: 3px solid #ffe000;
}

.pagebutton {
	font-weight: 700;
}
